body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
}

nav {
	width: 300px;
	display: inline-block;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	border-right: 5px solid #cecece;
	top: 0;
	left: 0;
}

nav header {
	font-size: 28px;
	padding: 25px;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	padding: 10px 25px;
	border-top: 2px solid #cecece;
}

nav ul li:last-child {
	padding: 0;
}

nav ul li a {
	text-decoration: none;
	color: #000;
}

nav ul li img {
	max-width: 100%;
	height: auto;
}

main {
	margin-left: 300px;
	width: calc(100% - 300px);
	float: right;
	box-sizing: border-box;
	padding: 25px;
}

main section header {
	font-size: 24px;
}

main section {
	margin-bottom: 30px;
}

main section article {
	padding-left: 10px;
}

main section ul {
	padding-left: 75px;
}

main section code {
	background-color: #f7f7f7;
	display: block;
	padding: 25px 50px;
	line-height: 2em;
}